.gray-navbar {
  background-color: #101316;
}

.my-active {
  color: white;
  background: #4e4e4e;
  border-radius: 5px;
}

.shopping-cart-container {
  position: relative;
  cursor: pointer;
}

.cart-button {
  background-color: red;
  border-radius: 20px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #ffffff;
  font-weight: bold;
  margin-left: -80px;
}

.shopping-cart-icon {
  font-size: 24px;
  margin-right: 4px;
}

.quantity {
  font-size: 14px;
  margin-left: 4px;
}
