.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-card {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 15px;
  padding: 20px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.flavors {
  margin-bottom: 10px;
}

